services:
  webApp:
    image: webapp
    tty: true
    build:
      context: ./webApp
      dockerfile: ./Dockerfile
    volumes:
      - type: bind
        source: ./webApp
        target: /webApp/
    ports:
      - target: 8000
        published: 8000

    environment:
      - TZ=UTC
    #depends_on:
    #  - mosquitto



