services:
  webApp:
    image: webapp
    tty: true
    build:
      context: ./webApp
      dockerfile: ./Dockerfile
    volumes:
      - type: bind
        source: .
        target: /workspace/
    ports:
      - 8080:8080

    environment:
      - TZ=UTC
    #depends_on:
    #  - mosquitto



