services:
  webApp:
    image: webapp
    container_name: webapp
    tty: True
    build:
      context: ./webApp
      dockerfile: ./Dockerfile
    volumes:
      - type: bind
        source: .
        target: /workspace/
    environment:
      - TZ=UTC
    ports:
      - '8080:8080'
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    container_name: proxy
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - ./nginx/data:/data
      - ./nginx/letsencrypt:/etc/letsencrypt
networks:
  default:
    external: true
    name: grimmfruit
    #depends_on:
    #  - mosquitto